.ball {
	top: 0px;
	left: 0px;
	width: 15px;
	height: 15px;
	border-radius: 100%;
	position: absolute;
}
#end {
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
}